@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900 text-white;
}

.externalLink {
    color: theme(colors.orange.500);
    font-weight: bold;
    &:before {
        content: "#";
    }
    &:hover {
        text-decoration: underline;
    }
}
