@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900 text-white;
}

.nice-scroll {
    &::-webkit-scrollbar-thumb {
        @apply bg-gray-700 rounded;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: transparent;
    }
}

.link,
.externalLink {
    color: theme(colors.orange.500);
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}

.externalLink {
    &:before {
        content: "#";
    }
}
